{% load static %}
{% load bootstrap3 %}

<section class="section-features">  
    <div class = "row">  
        <h2> Get beauteous &mdash;  NOT inferior</h2>
        <p class = "long-copy">
            Hello, we’re MEW, your new premium full professional beauty and personal care provider service. We know you’re always busy. No time for exhaustive make up. So let us give it to you in quality and in time, we’re really good at it, we promise!
        </p>
    </div>
    <div class="row">
        <div class="col-md-4 box">
          <span class="glyphicon glyphicon-check icon-big "></span>
          <h3>Up to 365 days/year</h3>
          <p>Never worry about everyday looks again! We really mean that. Our subscription plans include up to 365 days/year coverage. You can also choose to order, Our Team is mobile and readily available.
          </p>
        </div>
        <div class="col-md-4 box"> 
          <span class=" glyphicon glyphicon-plane icon-big "></span>
          <h3>Ready in 20 minutes</h3>
          <p>You're only twenty minutes away from your ready made and super makeup provided right to your home. We work with the best creative arts in each town to ensure that you're 100% happy..</p>
        </div>
        <div class="col-md-4 box">
          <span class="glyphicon glyphicon-inbox icon-big "></span>
          <h3>Order anything</h3>
          <p>We don't limit our creativity, which means you can order whatever art you feel like. You can also choose from our products containing over 30 artistic models. It's up to you!</p>
        </div>
    </div>       
</section> 
<section class="section-costume">
    <div>
        <ul class="costume-showcase">
            <li>
                <figure class="costume-photo">
                    <img src="{% static 'meelorlah/img/img1.jpg' %}" alt="Makeup ties">
                </figure>
            </li>
            <li>
                <figure class="costume-photo">
                    <img src="{% static 'meelorlah/img/img2.jpg' %}" alt="Interns wanted">
                </figure>
            </li>
            <li>
                <figure class="costume-photo">
                    <img src="{% static 'meelorlah/img/img3.jpg' %}" alt="50years we makeup">
                </figure>
            </li>
            <li>
                <figure class="costume-photo">
                    <img src="{% static 'meelorlah/img/img4.jpg' %}"alt="Bridal head style">
                </figure>
            </li>
        </ul>
    </div>
    <div>
        <ul class="costume-showcase">
            <li>
                <figure class="costume-photo">
                    <img src="{% static 'meelorlah/img/img14.jpg' %}" alt="Beads making">
                </figure>
            </li>
            <li>
                <figure class="costume-photo">
                    <img src="{% static 'meelorlah/img/img13.jpg' %}" alt="Gele ties">
                </figure>
            </li>
            <li>
                <figure class="costume-photo">
                    <img src="{% static 'meelorlah/img/img11.jpg' %}" alt="Beads accross">
                </figure>
            </li>
            <li>
                <figure class="costume-photo">
                    <img src="{% static 'meelorlah/img/img7.jpg' %}" alt="Gele headties">
                </figure>
            </li>
        </ul>
    </div>
    <div class="row" /> <!-- Create line break using row padding and margin -->
</section>
